.header{
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px var(--color-primary) solid;
    font-family: var(--font-header);
    color: var(--font-black);
    text-transform: uppercase;
}

.menu{
    justify-content: center;
}

ul.flex{
    justify-content: space-around;
    border-bottom: 1px var(--color-primary) solid;
    box-shadow: 3px;
}

li{
    list-style-type: none;
    font-family: var(--font-header);
    font-weight: bold;
    
}

li:nth-child(3){
    color: var(--font-red)
}